APP_NAME="PDF Multi Sign"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=single
LOG_LEVEL=debug

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pdf_sign
DB_USERNAME=root
DB_PASSWORD=

REPORT_PASSWORD=admin123
MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="PDF Multi Sign"
