/vendor
/node_modules
/public/build
/bootstrap/cache/*
/storage/*.key
/storage/app/driver-signatures/*
/storage/app/signed-pdfs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/database/database.sqlite
/.env
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
